<div class="col-sm-6">
  {{#link-to
    "categories.show"
    this.category.id
    class=this.category.id
  }}
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{this.category.title}}
    </div>

    <div class="panel-body">
      <a
        onclick={{action "toggleImageSize"}}
        class="image {{if this.isWide "wide"}}"
        role="button"
      >
        <img class="category-image" src={{this.category.image}} alt="">
      </a>
    </div>
  </div>
  {{/link-to}}
</div>
