<article class="listing " id="landing-page">
  <a
    onclick={{action "toggleImageSize"}}
    class="image {{if this.isWide "wide"}}"
    role="button"
  >
    <img src={{this.category.image}} alt="">
  </a>
  <div class="details">
    <h3>
      {{link-to
        this.category.title
        "categories.show"
        this.category.id
        class=this.category.id
      }}
    </h3>
  </div>
</article>
