<div class="jumbo " id="landing-page">
  <h2>What are you giving? <br> Que lo que quieres dar?</h2>
</div>

{{input
  value=this.value
  key-up=(action "handleFilterEntry")
  class="light"
  placeholder="Filter By Title"
}}
{{yield this.results}}
