{{#list-filter
  filter=(action "filterByCity")
as |filteredResults|
}}
  <ul class="results">
    {{#each filteredResults as |item|}}
      <li>{{category-listing category=item}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
