<div class="jumbo show-listing">
  <h2 class="title">Donate {{this.model.title}}</h2>
  <div class="content">
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name: </label>
          <input type="text" class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.com">
        </div>
        <div class="form-group">
          <label for="phone">Phone: </label>
          <input type="tel" class="form-control" id="phone">
        </div>
        <div class="form-group">
          <label for="how">What are you giving: </label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <!-- Example single danger button -->
        {{#bs-dropdown as |dd|}}
                      {{#dd.button}}Delivery: Pick-up only<span class="caret"></span>{{/dd.button}}
                      {{#dd.menu as |ddm|}}
                          {{#ddm.item}}{{#ddm.link-to "index"}}Pick-up only{{/ddm.link-to}}{{/ddm.item}}
                          {{#ddm.item}}{{#ddm.link-to "index"}}I can deliver to recipient{{/ddm.link-to}}{{/ddm.item}}
                          {{#ddm.item}}{{#ddm.link-to "index"}}I can deliver to a dropoff site{{/ddm.link-to}}{{/ddm.item}}
                        {{/dd.menu}}
                    {{/bs-dropdown}}
        <div>
          <img
            src={{this.model.image}}
            class="rental-pic"
            alt="Picture of {{this.model.title}}"
          >
        </div>
        <div class="row">
          <button type="submit" class="button btn btn-primary">Upload an image</button>
        </div>
        {{#link-to "success" class="button btn btn-primary"}}
          Submit
        {{/link-to}}
      </form>
    </div>
  </div>
</div>
