<div class="jumbo show-listing">
  <h2 class="title">{{this.model.title}}</h2>
  <div class="content">
    <div>
      <img
        src={{this.model.image}}
        class="rental-pic"
        alt="Picture of {{this.model.title}}"
      >
    </div>
  </div>
</div>
