<div class="jumbo">
  <h2>About Growing Gardens</h2>
  <p>
    Lorem ipsum dolor amet kitsch cray cliche, heirloom cornhole cold-pressed pug. Tacos selvage hell of godard fam taiyaki. Readymade yr hexagon disrupt banjo actually XOXO williamsburg thundercats cloud bread la croix chartreuse kale chips. Kinfolk flexitarian ennui af neutra lyft. Bespoke tofu XOXO street art.
  </p>
  {{#link-to "index" class="button"}}
    Get Started!
  {{/link-to}}
</div>
