<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Growing Gardens</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        {{#if this.isSpanish}}
          Acerca de
        {{else}}
          About
        {{/if}}
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        {{#if this.isSpanish}}
          Contactar
        {{else}}
          Contact
        {{/if}}
      {{/link-to}}
      {{#if this.isSpanish}}
        {{#bs-button onClick=(action "translate")}}English{{/bs-button}}
      {{else}}
        {{#bs-button onClick=(action "translate")}}Español{{/bs-button}}
      {{/if}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
