<div class="jumbo">
  <h2>Contact Us</h2>
  <p>
    Growing Gardens would love to help you<br>
  </p>
  <address>
    Growing Gardens
    <p>
      2203 NE Oregon St, <br>
      Portland, OR 97232
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:superrentalsrep@emberjs.com">superrentalsrep@emberjs.com</a>
  </address>
  {{#link-to "about" class="button"}}
    About
  {{/link-to}}
</div>
