<div class="jumbo">
  <h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{#link-to "index" class="btn btn-secondary"}}
    GIVE
  {{/link-to}}
  {{#link-to "about" class="btn btn-secondary"}}
    ACCEPT
  {{/link-to}}
</div>
{{outlet}}