<div class="jumbo" id="landing-page">
  <h2 class="text-center">Welcome! Bienvenidos!</h2>
  {{#link-to "categories" class="btn btn-outline-success btn-lg btn-block"}}
    GIVE / DAR
  {{/link-to}}
  <hr>
  <hr>
  {{#link-to "about" class="btn btn-outline-success btn-lg btn-block"}}
    ACCEPT / ACEPTAR
  {{/link-to}}
</div>
{{outlet}}