<div class="jumbo" id="landing-page">
  <h2 class="text-center">Welcome!</h2>
  {{#link-to "index" class="btn btn-outline-success btn-lg btn-block"}}
    GIVE
  {{/link-to}}
  <hr>
  <hr>
  {{#link-to "about" class="btn btn-outline-success btn-lg btn-block"}}
    ACCEPT
  {{/link-to}}
</div>
{{outlet}}